@using Blazor.Extensions.Canvas
@using Blazor.Extensions.Canvas.Canvas2D
@inherits BrashColorComponentModel

<div class="px-0 py-0 ">
    <BECanvas @ref="@CanvasReference" Height="@Height" Width="@Width"></BECanvas>
</div>